<nb-card class="status-success">
    <nb-card-header>
        <h5>CADASTRAR ORÇAMENTO DE VENDA</h5>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
                <nb-card class="status-success">
                    <nb-card-header>
                        <h6>Dados do Cliente:</h6>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label">CPF:</label>
                                    <input (blur)="buscarCliente()" [(ngModel)]="objeto.cliente.cpf" autocomplete="off"
                                        placeholder="CPF" class="form-control" name="cpf">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                <div class="form-group">
                                    <label class="col-form-label">Nome:</label>
                                    <input class="form-control" placeholder="Nome" name="nome"
                                        [(ngModel)]="objeto.cliente.nome" autocomplete="off" disabled>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label class="col-form-label">E-mail:</label>
                                    <input class="form-control" placeholder="E-mail" name="email"
                                        [(ngModel)]="objeto.cliente.email" autocomplete="off" disabled>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-6">
                <nb-card class="status-success">
                    <nb-card-header>
                        <h6>Dados do Veículo:</h6>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                                <div class="form-group">
                                    <label class="col-form-label">Veículo Placa:</label>
                                    <input class="form-control" placeholder="Placa" name="veiculoPlaca"
                                        [(ngModel)]="objeto.veiculoPlaca" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                                <div class="form-group">
                                    <label class="col-form-label">Marca:</label>
                                    <input class="form-control" placeholder="Marca" name="marca"
                                        [(ngModel)]="objeto.marca" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">Modelo:</label>
                                    <input class="form-control" placeholder="Modelo" name="Modelo"
                                        [(ngModel)]="objeto.modelo" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label">Cor:</label>
                                    <input class="form-control" placeholder="Cor" name="cor" [(ngModel)]="objeto.cor"
                                        autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label">Ano:</label>
                                    <input class="form-control" placeholder="Ano" name="ano" [(ngModel)]="objeto.ano"
                                        autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                <div class="form-group">
                                    <label class="col-form-label">Quilometragem:</label>
                                    <input class="form-control" placeholder="Quilometragem" name="km"
                                        [(ngModel)]="objeto.km" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <nb-card>
            <nb-card-header>
                <h6>Itens:</h6>
            </nb-card-header>
            <nb-card-body>
                <nb-card>
                    <nb-card-header>
                        <h6>Produto(s):</h6>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="m-1 btn btn-sm btn-info btn-pesquisar"
                                    (click)="abrirModal(addProduto, 'lg', 1)">
                                    <i class="fas fa-plus"></i>
                                    Adicionar Produto</button>
                            </div>
                            <div *ngIf="objeto.produtos.length > 0" class="col-md-12">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">Descrição</th>
                                            <th class="text-center">Quantidade</th>
                                            <th class="text-center">Valor Unitário</th>
                                            <th class="text-center">Valor Total</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let it of objeto.produtos">
                                            <td scope="col">{{it.produto.descricao}}</td>
                                            <td scope="col" class="text-center">{{it.quantidade}}</td>
                                            <td scope="col" class="text-center">
                                                {{it.produto.valor | currency:'BRL':true:'1.2-2'}}</td>
                                            <td scope="col" class="text-center">
                                                {{it.produto.valor*it.quantidade | currency:'BRL':true:'1.2-2'}}</td>
                                            <td scope="col" class="text-center"><button
                                                    class="m-1 btn btn-sm btn-danger" (click)="excluir(it, 1)"> <i
                                                        class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">Total:
                                {{valorTotalProdutos | currency:'BRL':true:'1.2-2'}}</div>
                        </div>
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-header>
                        <h6>Serviço(s):</h6>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="m-1 btn btn-sm btn-info btn-pesquisar"
                                    (click)="abrirModal(addServico,'lg')"> <i class="fas fa-plus"></i>
                                    Adicionar Serviço</button>
                            </div>
                            <div *ngIf="objeto.servicos.length > 0" class="col-md-12">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">Descrição</th>
                                            <th class="text-center">Quantidade</th>
                                            <th class="text-center">Valor Unitário</th>
                                            <th class="text-center">Valor Total</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let it of objeto.servicos  ">
                                            <td scope="col">{{it.servico.descricao}}</td>
                                            <td scope="col" class="text-center">{{it.quantidade}}</td>
                                            <td scope="col" class="text-center">
                                                {{it.servico.valor | currency:'BRL':true:'1.2-2'}}</td>
                                            <td scope="col" class="text-center">
                                                {{it.servico.valor*it.quantidade | currency:'BRL':true:'1.2-2'}}</td>
                                            <td scope="col" class="text-center"><button
                                                    class="m-1 btn btn-sm btn-danger" (click)="excluir(it)"> <i
                                                        class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">Total:
                                {{valorTotalServicos | currency:'BRL':true:'1.2-2'}}</div>
                        </div>
                    </nb-card-body>
                </nb-card>
                <div class="row">
                    <div class="col-md-12 text-right totalGeral">TOTAL GERAL:
                        {{valorTotalServicos+valorTotalProdutos | currency:'BRL':true:'1.2-2'}}</div>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <h6>Dados Adicionais:</h6>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label">Situação do Orçamento:</label>
                        <div class="checkbox">
                            <input class="input-checkbox" (change)="aplicarAcaoOrcamento(1)" type="radio"
                                name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="check-label" for="exampleRadios1">
                                Vendido
                            </label>
                            <input class="input-checkbox" (change)="aplicarAcaoOrcamento(2)" type="radio"
                                name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Aguardando Retorno
                            </label>
                            <input class="input-checkbox" (change)="aplicarAcaoOrcamento(3)" type="radio"
                                name="exampleRadios" id="exampleRadios3" value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                                Sem Comunicação
                            </label>
                            <input class="input-checkbox" (change)="aplicarAcaoOrcamento(4)" type="radio"
                                name="exampleRadios" id="exampleRadios4" value="option4">
                            <label class="form-check-label" for="exampleRadios4">
                                Sem Interesse
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Forma(s) de Pagamento:</label>
                        <div class="checkbox">
                            <label *ngFor="let it of formasPagamento">
                                <input class="input-checkbox" type="checkbox" (change)="adicionarFormaPagamento(it)">
                                <span class="checkbox-material">
                                    <span class="check"></span>
                                </span> {{it.descricao}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label">Observações:</label>
                        <textarea class="form-control" rows="3" [(ngModel)]="objeto.obs"></textarea>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <div class="row">
            <div class="col-md-12">
                <button class="m-1 btn btn-sm btn-success btn-pesquisar" (click)="salvarOuAlterar()"> <i
                        class="fas fa-save"></i>
                    Salvar Cadastro</button>
                <button class="m-1 btn btn-sm btn-secondary btn-pesquisar" type="button" (click)="iniciarForm()"> <i
                        class="fa fa-times"></i>
                    Limpar</button>
                <button class=" m-1 btn btn-sm btn-secondary btn-pesquisar" [routerLink]="['/operador/orcamentos']">
                    <i class="fas fa-backward"></i>
                    Voltar à Consulta de Orçamentos
                </button>
            </div>

        </div>
    </nb-card-body>
</nb-card>

<!-- Modal Adicionar Produto -->
<ng-template #addProduto let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Produto</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-9">
                <div class="form-group">
                    <label class="col-form-label">Produto</label>
                    <ng-select (change)="selecionarProdutoOuServico($event)" [items]="listaOrcamentoProdutos"
                        [selectOnTab]="true" bindLabel="descricao" bindValue="id"
                        notFoundText="Busca sem correspondência" name="produto">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                <div class="form-group">
                    <label class="col-form-label">Quantidade</label>
                    <input ui-br-phone-number [(ngModel)]="orcamentoProduto.quantidade" autocomplete="off"
                        placeholder="Telefone" class="form-control" name="descricaoProduto">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Adicionar</button>
    </div>
</ng-template>

<!-- Modal Adicionar Serviço -->
<ng-template #addServico let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Serviço</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-9">
                <div class="form-group">
                    <label class="col-form-label">Serviço</label>
                    <ng-select (change)="selecionarProdutoOuServico($event,1)" [items]="listaOrcamentoServicos"
                        [selectOnTab]="true" bindLabel="descricao" bindValue="id"
                        notFoundText="Busca sem correspondência" name="produto">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                <div class="form-group">
                    <label class="col-form-label">Quantidade</label>
                    <input ui-br-phone-number [(ngModel)]="orcamentoServico.quantidade" autocomplete="off"
                        placeholder="Telefone" class="form-control" name="descricaoProduto">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Adicionar</button>
    </div>
</ng-template>