<nb-card class="status-success">
    <nb-card-header>
        <h3>Cadastrar Cliente</h3>
    </nb-card-header>
    <nb-card-body>
        <!-- (ngSubmit)="salvarOuAlterar()" -->

        <nb-card class="status-success">
            <nb-card-header>
                <h6>DADOS PESSOAIS</h6>
            </nb-card-header>
            <nb-card-body>
                <form>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="col-form-label">* Nome</label>
                                <input name="hidden" class="form-control" value="objeto.login"
                                    placeholder="Informe o Nome" name="login" [(ngModel)]="objeto.login"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="col-form-label">CPF</label>
                                <input autocomplete="off" class="form-control" placeholder="Nome" value="objeto.nome"
                                    name="nome" [(ngModel)]="objeto.nome" uppercase>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="col-form-label">Data de Nascimento</label>
                                <input autocomplete="off" class="form-control" placeholder="Email" value="objeto.email"
                                    name="email" [(ngModel)]="objeto.email">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="col-form-label">E-mail</label>
                                <input autocomplete="off" class="form-control" placeholder="Email" value="objeto.email"
                                    name="email" [(ngModel)]="objeto.email">
                            </div>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <h6>TELEFONE(S)</h6>
            </nb-card-header>
            <nb-card-body>
                <button class="m-1 btn btn-sm btn-info btn-pesquisar" (click)="abrirModalAdicionarTelefone(addTelefone)"> <i
                        class="fas fa-plus"></i>
                    Adicionar Telefone</button>

            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <h6>ENDEREÇO(S)</h6>
            </nb-card-header>
            <nb-card-body>
                <button class="m-1 btn btn-sm btn-info btn-pesquisar" (click)="adicionarEndereco(confirmacao)"> <i
                        class="fas fa-plus"></i>
                    Adicionar Endereço</button>
            </nb-card-body>
        </nb-card>
        <div class="row">
            <div class="col-md-12">
                <button class="m-1 btn btn-sm btn-success btn-pesquisar" (click)="salvarOuAlterar()"> <i
                        class="fas fa-save"></i>
                    Salvar Cadastro</button>
                <button class="m-1 btn btn-sm btn-secondary btn-pesquisar" type="button" (click)="iniciarForm()"> <i
                        class="fa fa-times"></i>
                    Limpar</button>
                <button class=" m-1 btn btn-sm btn-secondary btn-pesquisar" [routerLink]="['/administracao/usuarios']">
                    <i class="fas fa-backward"></i>
                    Voltar à Consulta de Clientes
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!--- Modal Adicionar Telefone -->
<ng-template #addTelefone let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Telefone</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group">
                <label class="col-form-label">Número do Telefone</label>
                <input autocomplete="off" placeholder="Telefone" class="form-control" name="numeroTelefone">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Salvar</button>
    </div>
</ng-template>