<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container col-md-7">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png" width="30" height="30"
        class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Operações
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/operador/orcamentos">Orçamento e Venda</a>
            <a class="dropdown-item" href="#">Entradas de Produtos</a>
            <a class="dropdown-item" href="#">Pedidos a Fornecedores</a>
            <a class="dropdown-item" href="#">Devoluções a Fornecedor</a>
            <a class="dropdown-item" href="#">Contas a Pagar</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Estoque
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Consulta</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Financeiro
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Demonstrativo Gerencial</a>
            <a class="dropdown-item" href="#">Nota Fiscal</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/operador/clientes">Clientes</a>
            <a class="dropdown-item" href="/operador/produtos">Produtos</a>
            <a class="dropdown-item" href="/operador/servicos">Serviços</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Controle de Acesso
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/administracao/usuarios">Usuários</a>
            <a class="dropdown-item" href="/administracao/perfis">Perfis</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Relatórios</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container col-md-5">

    <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true">
          Bem Vindo(a), <i style="color:blue;">WELLISON ALVES DA SILVA</i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Sair</a>
          <a class="dropdown-item" href="#">Alterar Senha</a>
        </div>
      </li>
    </ul>

  </div>
</nav>