<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container col-md-12 bg-grey">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png" width="30" height="30"
        class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-chart-line"></i> Home</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i> Operações
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/operador/orcamentos']">Orçamentos</a>
            <a class="dropdown-item" [routerLink]="['operador/ordens-servicos']">Ordens de Serviços</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cubes"></i> Estoque
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Entradas de Produtos</a>
            <a class="dropdown-item" href="#">Consulta</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-dollar-sign"></i> Financeiro
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/operador/contas-a-pagar-receber']">Contas à Pagar e Receber</a>
            <a class="dropdown-item" href="#">Pedidos à Fornecedores</a>
            <a class="dropdown-item" href="#">Demonstrativos Gerenciais</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-tools"></i> Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/operador/clientes']">Clientes</a>
            <a class="dropdown-item" [routerLink]="['/operador/produtos']">Produtos</a>
            <a class="dropdown-item" [routerLink]="['/operador/servicos']">Serviços</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog"></i> Controle de Acesso
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/administracao/usuarios']">Usuários</a>
            <a class="dropdown-item" [routerLink]="['/administracao/perfis']">Perfis</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="far fa-file-pdf"></i> Relatórios</a>
        </li>
      </ul>
    </div>

    <nb-user [name]="user.nome" [nbContextMenu]="items" nbContextMenuTag="my-context-menu"
      title="Analista Desenvolvedor" [picture]="base64image">
    </nb-user>
  </div>
</nav>