<nb-card class="status-success">
    <nb-card-header>
        <h5>EXECUTAR ORDEM DE SERVIÇO</h5>
    </nb-card-header>
    <nb-card-body>
        <nb-card class="status-success">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-6 ">
                        <h6 class="positionHeader">Dados Cadastrais:</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="m-1 btn btn-sm btn-warning" (click)="abrirModal(genericModal, 'lg', false)">
                            <i class="fas fa-list"></i>
                            Visualizar Serviço(s) à Executar</button>
                        <button class="m-1 btn btn-sm btn-info " (click)="abrirModal(genericModal, 'lg', true)">
                            <i class="fas fa-eye"></i>
                            Visualizar Peça(s) Comprada(s)</button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
                        <div class="form-group">
                            <label class="label col-form-label">Número Ordem Serviço:</label>
                            <span scope="col" class="form-control fundo">
                                {{numeroOrdemDeServico}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
                        <div class="form-group">
                            <label class="label col-form-label">Número Orçamento:</label>
                            <span scope="col" class="form-control fundo">
                                {{ordemServico.orcamento.id}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <div class="form-group">
                            <label class="label col-form-label">Data de Geração:</label>
                            <span scope="col" class="form-control fundo">
                                {{ordemServico.orcamento.dataInclusao | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                        <div class="form-group">
                            <label class="label col-form-label">Cliente:</label>
                            <span scope="col" class="form-control fundo">
                                {{ordemServico.orcamento.cliente.nome}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                        <div class="form-group">
                            <label class="label col-form-label">Veículo:</label>
                            <span scope="col" class="form-control fundo">
                                {{ordemServico.orcamento.marca+" "+ordemServico.orcamento.modelo+" "+ordemServico.orcamento.ano+" (Placa: "+ordemServico.orcamento.veiculoPlaca+")"}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
                        <div class="form-group">
                            <label class="label col-form-label">Quilometragem:</label>
                            <span scope="col" class="form-control fundo">
                                {{ordemServico.orcamento.km }}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                        <div class="form-group">
                            <label class="label col-form-label">Observações:</label>
                            <span scope="col" class="form-control fundo">
                                {{ordemServico.orcamento.obs }}</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <h6>Parcer Técnico do Mecânico:</h6>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12">
                        <label class="label col-form-label">Observações:</label>
                        <textarea [disabled]="visualizar" class="form-control" rows="4"
                            [(ngModel)]="ordemServico.relatorioTecnico"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
                        <div class="form-group">
                            <label class="label col-form-label">Tempo de Garantia:</label>
                            <input [disabled]="visualizar" class="form-control" name="veiculoPlaca"
                                [(ngModel)]="ordemServico.tempoGarantia" autocomplete="off">
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <div class="row">
            <div class="col-md-12">
                <button *ngIf="!visualizar" class="m-1 btn btn-sm btn-success btn-pesquisar" (click)="salvar()"> <i
                        class="fas fa-save"></i>
                    Concluir Ordem de Serviço</button>
                <button *ngIf="!visualizar" class="m-1 btn btn-sm btn-secondary btn-pesquisar" type="button"
                    (click)="iniciarForm()"> <i class="fa fa-times"></i>
                    Limpar Campos</button>
                <button class=" m-1 btn btn-sm btn-secondary btn-pesquisar"
                    [routerLink]="['/operador/ordens-servicos']">
                    <i class="fas fa-backward"></i>
                    Voltar
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #genericModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{tituloModalGenerica}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Quantidade</th>
                        <th *ngIf="!abertoListaServico" class="text-center">Entregar Peça Substituída</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let it of listaModal">
                        <td scope="col">{{it.descricao}}
                        </td>
                        <td scope="col" class="text-center">{{it.quantidade}}
                        </td>
                        <td *ngIf="!abertoListaServico" scope="col" class="text-center">
                            {{it.clienteLevaPeca ? 'Sim' : 'Não'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="m-1 btn btn-sm btn-secondary" (click)="modal.close('Save click')"
            [routerLink]="['/operador/orcamentos/editar/',ordemServico.orcamento.id]">
            <i class="fas fa-search-plus"></i>
            Acessar Orçamento</button>
    </div>
</ng-template>