<nb-card class="status-success">
  <nb-card-header>
    <h4>Consulta de Usuários</h4>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="buscarUsuarios()">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
          <div class="form-group">
            <label class="label col-form-label">Nome:</label>
            <input autocomplete="off" class="form-control" name="nome" [(ngModel)]="buscaForm.nome">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
          <div class="form-group">
            <label class="label col-form-label">Login:</label>
            <input autocomplete="off" class="form-control" name="login" [(ngModel)]="buscaForm.login">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
          <div class="form-group">
            <label class="label col-form-label">E-mail:</label>
            <input autocomplete="off" class="form-control" name="email" [(ngModel)]="buscaForm.email">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <div class="form-group">
            <label class="label col-form-label">Data Última Alteração:</label>
            <input nbinput type="text" class="form-control" bsDatepicker locale="pt-br"
              [bsConfig]="{ isAnimated: true , dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
              [(ngModel)]="buscaForm.dthInclusao" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
          <button nbButton status="primary" size="small" hero class="m-1" (click)="pesquisar()"><i
              class="fa fa-search"></i>&nbsp;Pesquisar</button>
          <button nbButton status="basic" size="small" class="m-1" (click)="resetForm()"><i
              class="fa fa-times"></i>&nbsp;Limpar</button>
          <button [routerLink]="['cadastrar']" nbButton status="success" size="small" class="m-1"><i
              class="fas fa-plus-circle"></i>&nbsp;Cadastrar Usuário</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card class="status-success" *ngIf="listaUsuarios">
  <div class="alert alert-primary" style="margin: 5px" *ngIf="listaUsuarios && listaUsuarios.total == 0" role="alert">
    Nenhuma remessa encontrada!
  </div>
  <nb-card-header>
    <h6>Resultado da Pesquisa:</h6>
  </nb-card-header>
  <nb-card-body>
    <div class="col-m2-12" *ngIf="listaUsuarios && listaUsuarios.recordsTotal > 0">
      <app-listar-usuario [lista]="listaUsuarios" (eventoOrdenar)="ordenar($event)"
        (eventoAlterarSenha)="abrirModalAlterarSenha($event, alterarSenha)" (eventoPaginar)="paginar($event)"
        (eventoExcluir)="abrirModalExclusao($event, confirmacao)">
      </app-listar-usuario>
    </div>
    <div class="alert alert-primary" style="margin: 5px" *ngIf="listaUsuarios && listaUsuarios.recordsTotal == 0"
      role="alert">
      Nenhum Usuário foi encontrado!
    </div>
  </nb-card-body>
</nb-card>

<ng-template #confirmacao let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmação</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deseja realmente excluir o usuário selecionado?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>


<ng-template #alterarSenha let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Resetar Senha </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <b>Usuário: {{usuario}}</b></div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <br>
        <div class="form-group">
          <label class="col-form-label">Nova Senha:</label>
          <input autocomplete="off" placeholder="Senha padrão: 1234567." class="form-control" [(ngModel)]="novaSenha">
        </div>
        <p class="help-block">
          <i class="fas fa-info-circle"></i> &nbsp; A senha deverá conter no mínimo 6 caracteres e no máximo 8.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Confirmar</button>
  </div>
</ng-template>