<nb-card class="status-success">
    <nb-card-header>
        <h4>Cadastrar Usuário</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-card class="status-success">
            <nb-card-header>
                <h6>Dados Pessoais:</h6>
            </nb-card-header>
            <nb-card-body>
                <form>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
                            <div class="form-group">
                                <label class="label col-form-label">Login:</label>
                                <input [disabled]="rotaVisualizar" name="hidden" class="form-control"
                                    value="objeto.login" name="login" [(ngModel)]="objeto.login" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                            <div class="form-group">
                                <label class="label col-form-label">Nome:</label>
                                <input [disabled]="rotaVisualizar" autocomplete="off" class="form-control"
                                    value="objeto.nome" name="nome" [(ngModel)]="objeto.nome" uppercase>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="label col-form-label">Função:</label>
                                <input [disabled]="rotaVisualizar" autocomplete="off" class="form-control"
                                    value="objeto.funcao" name="funcao" [(ngModel)]="objeto.funcao">
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="label col-form-label">E-mail:</label>
                                <input [disabled]="rotaVisualizar" autocomplete="off" class="form-control"
                                    value="objeto.email" name="email" [(ngModel)]="objeto.email">
                            </div>
                        </div>
                        <div *ngIf="!objeto.id" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="label col-form-label">Senha:</label>
                                <input [disabled]="rotaVisualizar" autocomplete="off" type="password"
                                    [(ngModel)]="objeto.senha" class="form-control" name="senha">
                            </div>
                        </div>
                        <div *ngIf="!objeto.id" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="form-group">
                                <label class="label col-form-label">Confirmar Senha:</label>
                                <input [disabled]="rotaVisualizar" autocomplete="off" type="password"
                                    class="form-control" name="confirmacaoSenha">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="label col-form-label">Imagem:</label>
                                </div>
                                <div class="col-md-12">
                                    <span title="Modificar Arquivo Enviado" class="btn btn-primary btn-file">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Enviar
                                        <input [disabled]="rotaVisualizar" type="file" accept="image/x-png,image/gif,image/jpeg" (change)="enviarImg($event)" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <h6>Perfis:</h6>
            </nb-card-header>
            <nb-card-body>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div *ngFor="let perfil of perfis; let i = index" class="checkbox-custom">
                            <input [disabled]="rotaVisualizar" type="checkbox"
                                (change)='selecionarPerfil(perfil.id, $event.target.checked)' value='{{perfil.id}}'
                                [checked]="verificarCheck(perfil.id)" id="checkbox{{i}}">
                            <label for="checkbox{{i}}">
                                <div>
                                    <i class="fa fa-check"></i>
                                </div> {{perfil.descricao}}
                            </label>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
                <button *ngIf="!rotaVisualizar" nbButton status="primary" size="small" hero class="m-1"
                    (click)="salvarOuAlterar()"><i class="fas fa-save"></i>&nbsp;Salvar</button>
                <button *ngIf="!rotaVisualizar" nbButton status="basic" size="small" class="m-1"
                    (click)="resetForm()"><i class="fa fa-times"></i>&nbsp;Limpar</button>
                <button [routerLink]="['/administracao/usuarios']" nbButton status="basic" size="small" class="m-1"><i
                        class="fas fa-backward"></i>&nbsp;Consulta</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!--- Modal Confirmação de Exclusão -->
<ng-template #confirmacao let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmação</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Deseja realmente excluir o usuário selecionado?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Sim</button>
    </div>
</ng-template>

<!--- Modal Alterar Senha -->
<ng-template #alterarSenha let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Resetar Senha </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <b>Usuário: {{usuario}}</b></div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <br>
                <div class="form-group">
                    <label class="col-form-label">Nova Senha:</label>
                    <input autocomplete="off" placeholder="Senha padrão: 1234567." class="form-control"
                        [(ngModel)]="novaSenha">
                </div>
                <p class="help-block">
                    <i class="fas fa-info-circle"></i> &nbsp; A senha deverá conter no mínimo 6 caracteres e no máximo
                    8.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Confirmar</button>
    </div>
</ng-template>