<nb-card class="status-success">
    <nb-card-header>
        <h5>CONSULTAR COMPRAS</h5>
    </nb-card-header>
    <nb-card-body>
        <nb-card class="status-success">
            <nb-card-header>
                <h6>Filtros de Busca:</h6>
            </nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="buscarProdutos()">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                            <div class="form-group">
                                <label class="label col-form-label">Nome do Fornecedor:</label>
                                <input autocomplete="off" class="form-control" name="nome"
                                    [(ngModel)]="buscaForm.descricao">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <button class="m-1 btn btn-sm btn-primary btn-pesquisar" type="submit"> <i
                                    class="fa fa-search"></i>
                                Pesquisar</button>
                            <button class="m-1 btn btn-sm btn-secondary btn-pesquisar" type="button"
                                (click)="iniciarForm()"> <i class="fa fa-times"></i>
                                Limpar</button>
                            <button class=" m-1 btn btn-sm btn-success btn-pesquisar" [routerLink]="'cadastrar'">
                                <i class="fa fa-user"></i>
                                Cadastrar Compra
                            </button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <div class="row">
            <div class="col-md-12">
                <nb-card class="status-success" *ngIf="listaCompras">
                    <div class="alert alert-primary" style="margin: 5px" *ngIf="listaCompras && listaCompras.total == 0"
                        role="alert">
                        Nenhum produto encontrado!
                    </div>
                    <nb-card-header>
                        <h6>Resultado da Pesquisa:</h6>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="col-m2-12" *ngIf="listaCompras && listaCompras.recordsTotal > 0">
                            <app-list-compra [lista]="listaCompras" (eventoOrdenar)="ordenar($event)"
                                (eventoPaginar)="paginar($event)"
                                (eventoObterParcela)="abrirModalParcelas($event, modalParcelas, 'xl')"
                                (eventoContabilizarEmEstoque)="abrirModalContabilizarEmEstoque($event, modalContabilizarEstoque)"
                                (eventoExcluir)="abrirModalExclusao($event, confirmacao)">
                            </app-list-compra>
                        </div>
                        <div class="alert alert-primary" style="margin: 5px"
                            *ngIf="listaCompras && listaCompras.recordsTotal == 0" role="alert">
                            Nenhuma compra foi encontrada!
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<ng-template #confirmacao let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmação</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Deseja realmente excluir o orçamento selecionado?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Sim</button>
    </div>
</ng-template>

<ng-template #modalContabilizarEstoque let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmação</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Deseja realmente Gerar Entrada em Estoque para está Compra?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Sim</button>
    </div>
</ng-template>

<ng-template #modalParcelas let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Gerenciar Parcelas da Compra</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th style="width: 10.00%" class="text-center">Ordem</th>
                    <th style="width: 20.00%" class="text-center">Data Vencimento</th>
                    <th style="width: 15.00%" class="text-center">Valor Total</th>
                    <th style="width: 20.00%" class="text-center">Data Pagamento</th>
                    <th style="width: 15.00%" class="text-center">Valor Pago</th>
                    <th style="width: 10.00%" class="text-center">Situação</th>
                    <th style="width: 10.00%" class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input autocomplete="off" class="form-control" [(ngModel)]="compraParcela.ordem">
                    </td>
                    <td>
                        <input nbinput type="text" class="form-control" bsDatepicker locale="pt-br"
                            [(ngModel)]="compraParcela.dataVencimento"
                            [bsConfig]="{ isAnimated: true , dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
                    </td>
                    <td>
                        <input autocomplete="off" class="form-control" [(ngModel)]="compraParcela.valor">
                    </td>
                    <td>
                        <input (blur)="habilitarBotaoSalvar()" nbinput type="text" class="form-control" bsDatepicker
                            locale="pt-br" [(ngModel)]="compraParcela.dataPagamento"
                            [bsConfig]="{ isAnimated: true , dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
                    </td>
                    <td>
                        <input autocomplete="off" [(ngModel)]="compraParcela.valorPago" class="form-control"
                            name="valorPago">
                    </td>
                    <td>
                        <span scope="cl" class="form-control corFundoSpan">
                            <p class="text-center" *ngIf="compraParcela.ordem">
                                {{compraParcela.valorPago && compraParcela.dataPagamento ? 'Pago' : 'A Pagar'}}</p>
                        </span>
                    </td>
                    <td> <button class="m-1 btn btn-sm btn-info" (click)="adicionarParcela()"><i
                                class="fas fa-plus"></i> Adicionar Parcela</button></td>
                </tr>
                <tr *ngFor="let it of listaParcelasCompra">
                    <td scope="col" class="text-center">{{it.ordem}}</td>
                    <td scope="col" class="text-center">{{it.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                    <td scope="col" class="text-center">
                        {{it.valor | currency:'BRL':true:'1.2-2'}}</td>

                    <td scope="col" class="text-center">
                        <input (blur)="habilitarBotaoSalvar()" nbinput type="text" class="form-control" bsDatepicker
                            locale="pt-br" value="{{ it.dataPagamento | date: 'dd/MM/yyyy' }}"
                            [bsConfig]="{ isAnimated: true , dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
                            [(ngModel)]="it.dataPagamento" [ngModelOptions]="{standalone: true}"
                            [disabled]="it.desabilitarEdicao">
                    </td>
                    <td scope="col" class="text-center">
                        <input (blur)="habilitarBotaoSalvar()" [(ngModel)]="it.valorPago" autocomplete="off"
                            class="form-control" name="valor" [disabled]="it.desabilitarEdicao">
                    </td>

                    <td scope="col" class="text-center">{{it.situacao}}</td>
                    <td scope="col" class="text-center">
                        <button
                            [ngClass]="(it.desabilitarEdicao)?'m-1 btn btn-sm btn-warning':'m-1 btn btn-sm btn-success'"
                            (click)="editarCompraParcela(it)"><i
                                [ngClass]="(it.desabilitarEdicao)?'fas fa-pencil-alt':'fas fa-check'"></i></button>

                        <button class="m-1 btn btn-sm btn-danger" (click)="excluirCompraParcela(it)"><i
                                class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="m-1 btn btn-sm btn-secondary" (click)="modal.close('Save click')"
            [routerLink]="['/operador/compras/editar/',compraVisualizada.id]">
            <i class="fas fa-pencil-alt"></i>
            Editar Compra </button>
    </div>
</ng-template>