<table class="table">
    <thead class="thead-light">
        <tr>
            <th style="cursor: pointer;" title="Ordenar pelo Código" class="text-center" (click)="ordenar('id')"> Código
            </th>
            <th style="cursor: pointer;" title="Ordenar pelo Nome do Produto" class="text-center"
                (click)="ordenar('descricao')">
                Nota Fiscal</th>
            <th style="cursor: pointer;" title="Ordenar pelo Nome do Produto" class="text-center"
                (click)="ordenar('descricao')">
                Fornecedor</th>
            <th style="cursor: pointer;" title="Ordenar pelo Nome do Produto" class="text-center"
                (click)="ordenar('descricao')">
                Valor Pago</th>
            <th style="cursor: pointer;" title="Ordenar pelo Nome do Produto" class="text-center"
                (click)="ordenar('descricao')">
                Qtde. Produtos</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let it of lista.lista">
            <td scope="col" class="text-center">{{it.id}}</td>
            <td scope="col" class="text-center">{{it.notaFiscal}}</td>
            <td scope="col" class="text-center">{{it.fornecedor.descricao}}</td>
            <td scope="col" class="text-center">{{it.valorEntrada | currency:'BRL':true:'1.2-2'}}</td>
            <td scope="col" class="text-center">{{it.qtdeProdutos}}</td>
            <td scope="col" class="text-center" class="text-center">
                <button class="m-1 btn btn-sm btn-warning" [routerLink]="['/operador/entrada-produtos/editar/',it.id]">
                    <i class="fas fa-pencil-alt"></i></button>
                <button class="m-1 btn btn-sm btn-danger" (click)="excluir(it.id)"> <i
                        class="far fa-trash-alt"></i></button>
                <button class="m-1 btn btn-sm btn-info" (click)="obterProdutos(it)"> <i
                        class="fas fa-list"></i></button>
                <button [routerLink]="['/operador/entrada-produtos/visualizar', it.id]" class="m-1 btn btn-sm btn-info">
                    <i class="fa fa-search"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row p-2">
    <div class="col" style="margin-left: 5px">
        <pagination [totalItems]="lista.recordsTotal" (pageChanged)="search($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5" class="pagination-sm"
            [boundaryLinks]="true" [itemsPerPage]="10" [(ngModel)]="paginaAtual"></pagination>
    </div>
    <div class="col-md-6 text-right">
        Exibindo {{parametrosPaginacao.offset+1}} - {{lista.lista.length + parametrosPaginacao.offset }} de
        {{lista.recordsTotal}} registro(s) encontrado(s).
    </div>
</div>