<table class="table">
    <thead class="thead-light">
        <tr>
            <th style="cursor: pointer;" title="Ordenar pelo Código" class="text-center" (click)="ordenar('id')"> Código
            </th>
            <th style="cursor: pointer;" title="Ordenar pelo Nome do Usuário" class="text-center"
                (click)="ordenar('nome')">
                Código Orçamento</th>
            <th style="cursor: pointer;" title="Ordenar pelo Login" class="text-center" (click)="ordenar('login')">
                Status</th>
            <th style="cursor: pointer;" title="Ordenar pelo Email" class="text-center" (click)="ordenar('email')"> Data
                Inclusão</th>
            <th style="cursor: pointer;" title="Ordenar pelo Email" class="text-center" (click)="ordenar('email')"> Data
                Conclusão</th>
            <th style="cursor: pointer;" title="Ordenar pelo Email" class="text-center" (click)="ordenar('email')">
                Veículo</th>
            <th style="cursor: pointer;" title="Ordenar pelo Email" class="text-center" (click)="ordenar('email')">
                Placa</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let it of lista.lista">
            <td scope="col" class="text-center">{{it.id}}</td>
            <td scope="col" class="text-center"><i [routerLink]="['/operador/orcamentos/editar', it.orcamento.id]"
                    style="cursor: pointer;" class="fas fa-search lupa"></i>
                {{it.orcamento.id}}</td>
            <td scope="col" class="text-center"><i *ngIf="it.codStatus == 2" style="cursor: pointer;"
                    class="fas fa-sync-alt alterar"></i>
                {{it.status}}</td>
            <td scope="col" class="text-center">{{it.dataAbertura | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
            <td scope="col" class="text-center">{{it.dataEntrega | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
            <td scope="col" class="text-center">{{it.veiculo}}</td>
            <td scope="col" class="text-center">{{it.orcamento.veiculoPlaca}}</td>
            <td scope="col" class="text-center" nowrap>
                <button *ngIf="it.codStatus == 1" class="m-1 btn btn-sm btn-success" [routerLink]="['/operador/ordens-servicos/concluir', it.id]"> <i
                        class="fas fa-check"></i></button>
                <button *ngIf="it.codStatus == 2" class="m-1 btn btn-sm btn-success" (click)="excluir(it.id)"> <i
                        class="fas fa-envelope-open-text"></i></button>
                <button *ngIf="it.codStatus == 2" class="m-1 btn btn-sm btn-danger" (click)="excluir(it.id)"> <i
                        class="fas fa-file-pdf"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row p-2">
    <div class="col" style="margin-left: 5px">
        <pagination [totalItems]="lista.recordsTotal" (pageChanged)="search($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5" class="pagination-sm"
            [boundaryLinks]="true" [itemsPerPage]="10" [(ngModel)]="paginaAtual"></pagination>
    </div>
    <div class="col-md-6 text-right">
        Exibindo {{parametrosPaginacao.offset+1}} - {{lista.lista.length + parametrosPaginacao.offset }} de
        {{lista.recordsTotal}} registro(s) encontrado(s).
    </div>
</div>