<table class="table">
    <thead class="thead-light">
        <tr>
            <th style="cursor: pointer;" title="Ordenar pelo Código" class="text-center" (click)="ordenar('id')"> Código
            </th>
            <th style="cursor: pointer;" title="Ordenar pela Data de Criação" scope="col" class="text-center"
                (click)="ordenar('dthInclusao')">Tipo de Conta</th>
            <th style="cursor: pointer;" title="Ordenar pelo Nome do Usuário" class="text-center"
                (click)="ordenar('nome')">
                Descrição</th>
            <th style="cursor: pointer;" title="Ordenar pelo Login" class="text-center" (click)="ordenar('login')">
                Sacado/Cedente
            </th>
            <th style="cursor: pointer;" title="Ordenar pelo Email" class="text-center" (click)="ordenar('email')">
                Data de Vencimento</th>
            <th style="cursor: pointer;" title="Ordenar pela Data de Criação" scope="col" class="text-center"
                (click)="ordenar('dthInclusao')">Valor a ser Pago</th>

            <th style="cursor: pointer;" title="Ordenar pela Data de Criação" scope="col" class="text-center"
                (click)="ordenar('dthInclusao')">Situação</th>

            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let it of lista.lista">
            <td scope="col" class="text-center">{{it.id}}</td>
            <td scope="col" class="text-center">{{it.tipo}}</td>
            <td scope="col">{{it.descricao}}</td>
            <td scope="col">{{it.pessoa}}</td>
            <td scope="col" class="text-center">{{it.dataVencimento | date: 'dd/MM/yyyy h:mm:ss'}}</td>
            <td scope="col" class="text-center">{{it.valor | currency:'BRL':true:'1.2-2'}}</td>
            <td scope="col" class="text-center">{{it.situacao}}</td>
            <td scope="col" class="text-center">
                <button class="m-1 btn btn-sm btn-warning"
                    [routerLink]="['/operador/contas-a-pagar-receber/editar/',it.conta.id]"> <i
                        class="fas fa-pencil-alt"></i></button>
                <button class="m-1 btn btn-sm btn-danger" (click)="excluir(it, 'remocaoPagamento')"> <i
                        class="far fa-trash-alt"></i></button>
                <button *ngIf="it.situacaoId != 2" class="m-1 btn btn-sm btn-success" (click)="informarPagamento(it)"> <i
                        class="fas fa-check"></i></button>
                <button class="m-1 btn btn-sm btn-danger" (click)="excluir(it, 'exclusao')"> <i class="fa fa-times"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row p-2">
    <div class="col" style="margin-left: 5px">
        <pagination [totalItems]="lista.recordsTotal" (pageChanged)="search($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5" class="pagination-sm"
            [boundaryLinks]="true" [itemsPerPage]="10" [(ngModel)]="paginaAtual"></pagination>
    </div>
    <div class="col-md-6 text-right">
        Exibindo {{parametrosPaginacao.offset+1}} - {{lista.lista.length + parametrosPaginacao.offset }} de
        {{lista.recordsTotal}} registro(s) encontrado(s).
    </div>
</div>